/* ESTILOS GLOBALES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/* * {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffa6a6' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}*/

body {
  padding-top: 0;
  padding-bottom: 0;
  color: rgb(255, 116, 116);
}

.textos2 {
  color:rgb(61, 61, 61)
}

.header {
  width: 100%;
  min-height: 100vh;
  background-image: url(img/fachadaANCHA.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.navbar {
  background-color:rgba(255, 192, 203, 0);
  position: fixed;
  top: 0;
  width: 100%;
}

/* PERSONALIZA EL CARRUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 11.5rem;
  z-index: 2;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: .5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}

.btn {
  background-color: rgb(255, 116, 116);
  border: none;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.redondo {
  margin: 0;
  padding: 0;
  border-radius: 800px;
  overflow: hidden;
  width: 140px;
  height: 140px;
  }

  .redondo1 {
    margin: 0;
    padding: 0;
    border-radius: 800px;
    overflow: hidden;
    width: 210px;
    height: 140px;
  }

  .redondo2 {
    margin: 0;
    padding: 0;
    border-radius: 800px;
    overflow: hidden;
    width: 140px;
    height: 140px;
  }

/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 1rem 0; /* Space out the Bootstrap <hr> more */
}

.otra {
  margin: 0;
  padding: 0;
  width: 360px;
  height: 360px;
  border-radius: 1px;
}

.otra1 {
  margin: 0;
  padding: 0;
  width: 360px;
  height: 380px;
  border-radius: 1px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.6;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 5rem;
  }
}
